<div class="container">
    <h2 oda-label="patients.title"></h2>

    <div class="row">
        <div class="col-md-12" id="divPatients">
            <oda-loading></oda-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" oda-label="oda-main.new" onclick="$.Oda.App.Controller.Patients.newPatient();">oda-main.new</button>
        </div>
    </div>
</div>

<style>
.bootstrap-select .dropdown-toggle {
    width: 90%;
}
</style>

<script id="formCreatePatient" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="firstName" oda-label="patients.firstName">patients.firstName</label>
                <input required type="text" class="form-control" oda-input-text="firstName" oda-input-text-tips="patients.firstName-tips" oda-input-text-placeholder="patients.firstName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="lastName" oda-label="patients.lastName">patients.lastName</label>
                <input required type="text" class="form-control" oda-input-text="lastName" oda-input-text-tips="patients.lastName-tips" oda-input-text-placeholder="patients.lastName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="formEditPatient" type="text/template">
    <h3 oda-label="patients.patient">patients.patient</h3>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="firstName" oda-label="patients.firstName">patients.firstName</label>
                <input value="{{firstName}}" required type="text" class="form-control" oda-input-text="firstName" oda-input-text-tips="patients.firstName-tips" oda-input-text-placeholder="patients.firstName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="lastName" oda-label="patients.lastName">patients.lastName</label>
                <input value="{{lastName}}" required type="text" class="form-control" oda-input-text="lastName" oda-input-text-tips="patients.lastName-tips" oda-input-text-placeholder="patients.lastName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label oda-label="patients.active">patients.active</label>
                <div class="checkbox">
                    <input type="checkbox" oda-input-checkbox="active" {{checked}}>
                    <label oda-label="patients.active">
                        patients.active
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="birthday" oda-label="patients.birthday">patients.birthday</label>
                <input value="{{birthday}}" type="date" class="form-control" oda-input-text="birthday" oda-input-text-tips="patients.birthday-tips" oda-input-text-placeholder="patients.birthday-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="secu" oda-label="patients.secu">patients.secu</label>
                <input value="{{secu}}" type="number" class="form-control" oda-input-text="secu" oda-input-text-tips="patients.secu-tips" oda-input-text-placeholder="secu.firstName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="telPerso" oda-label="patients.telPerso">patients.telPerso</label>
                <input value="{{telPerso}}" type="text" class="form-control" oda-input-text="telPerso" oda-input-text-tips="patients.telPerso-tips" oda-input-text-placeholder="patients.telPerso-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>

    <h3 oda-label="patients.contrat">patients.contrat</h3>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="nbHours" oda-label="patients.nbHours">patients.nbHours</label>
                <input value="{{nbHours}}" type="number" class="form-control" oda-input-text="nbHours" oda-input-text-tips="patients.nbHours-tips" oda-input-text-placeholder="patients.nbHours-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="costHour" oda-label="patients.costHour">patients.costHour</label>
                <input value="{{costHour}}" type="number" class="form-control" oda-input-text="costHour" oda-input-text-tips="patients.costHour-tips" oda-input-text-placeholder="patients.costHour-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="contratStart" oda-label="patients.contratStart">patients.contratStart</label>
                <input value="{{contratStart}}" type="date" class="form-control" oda-input-text="contratStart" oda-input-text-tips="patients.contratStart-tips" oda-input-text-placeholder="patients.contratStart-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>

    <h3 oda-label="patients.notes">patients.notes</h3>
    <!--health-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label oda-label="patients.health">patients.health</label>
                <textarea class="form-control" rows="2" oda-input-text="health">{{health}}</textarea>
            </div>
        </div>
    </div>

    <!--notes-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label oda-label="patients.notes">patients.notes</label>
                <textarea class="form-control" rows="5" oda-input-text="notes">{{notes}}</textarea>
            </div>
        </div>
    </div>

    <button type="button" oda-label="oda-main.bt-submit" oda-submit="submit" onclick="$.Oda.App.Controller.Patients.submitEditPatient({id:{{id}} });" class="btn btn-primary disabled center-block" disabled>Submit</button>

    <hr>
    <!--color-->
    <h3 oda-label="patients.color">patients.color</h3>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <select id="color" class="selectpicker" onChange="$.Oda.App.Controller.Patients.changeColor({id:{{id}} });">
                    <option data-content="<span class='label bg-turquoise'>Turquoise</span>" value="turquoise" {{(color==='turquoise')?'selected':''}}></option>
                    <option data-content="<span class='label bg-emerald'>emerald</span>" value="emerald" {{(color==='emerald')?'selected':''}}></option>
                    <option data-content="<span class='label bg-peter_river'>peter_river</span>" value="peter_river" {{(color==='peter_river')?'selected':''}}></option>
                    <option data-content="<span class='label bg-amethyst'>amethyst</span>" value="amethyst" {{(color==='amethyst')?'selected':''}}></option>
                    <option data-content="<span class='label bg-wet_asphalt'>wet_asphalt</span>" value="wet_asphalt" {{(color==='wet_asphalt')?'selected':''}}></option>
                    <option data-content="<span class='label bg-green_sea'>green_sea</span>" value="green_sea" {{(color==='green_sea')?'selected':''}}></option>
                    <option data-content="<span class='label bg-nephritis'>nephritis</span>" value="nephritis" {{(color==='nephritis')?'selected':''}}></option>
                    <option data-content="<span class='label bg-belize_hole'>belize_hole</span>" value="belize_hole" {{(color==='belize_hole')?'selected':''}}></option>
                    <option data-content="<span class='label bg-wisteria'>wisteria</span>" value="wisteria" {{(color==='turquoise')?'selected':''}}></option>
                    <option data-content="<span class='label bg-midnight_blue'>midnight_blue</span>" value="midnight_blue" {{(color==='midnight_blue')?'selected':''}}></option>
                    <option data-content="<span class='label bg-sun_flower'>sun_flower</span>" value="sun_flower" {{(color==='sun_flower')?'selected':''}}></option>
                    <option data-content="<span class='label bg-carrot'>carrot</span>" value="carrot" {{(color==='carrot')?'selected':''}}></option>
                    <option data-content="<span class='label bg-alizarin'>alizarin</span>" value="alizarin" {{(color==='alizarin')?'selected':''}}></option>
                    <option data-content="<span class='label bg-clouds'>clouds</span>" value="clouds" {{(color==='clouds')?'selected':''}}></option>
                    <option data-content="<span class='label bg-concrete'>concrete</span>" value="concrete" {{(color==='concrete')?'selected':''}}></option>
                    <option data-content="<span class='label bg-orange'>orange</span>" value="orange" {{(color==='orange')?'selected':''}}></option>
                    <option data-content="<span class='label bg-pimpkin'>pimpkin</span>" value="pimpkin" {{(color==='pimpkin')?'selected':''}}></option>
                    <option data-content="<span class='label bg-pomegranate'>pomegranate</span>" value="pomegranate" {{(color==='pomegranate')?'selected':''}}></option>
                    <option data-content="<span class='label bg-sliver'>sliver</span>" value="sliver" {{(color==='sliver')?'selected':''}}></option>
                    <option data-content="<span class='label bg-asbestos'>asbestos</span>" value="asbestos" {{(color==='asbestos')?'selected':''}}></option>
                </select>
            </div>
        </div>
    </div>

    <hr>
    <!--family-->
    <h3 oda-label="patients.family">patients.family</h3>
    <div class="row">
        <div class="col-md-12" id="divTabContactsFamily"><oda-loading></oda-loading></div>
        <div class="col-md-12" id="divNewContactFamily" style="display: none;"></div>
        <div class="col-md-12" id="divBtContactFamily">
            {{btContactFamily}}
        </div>
    </div>

    <hr>
    <!--intervenant-->
    <h3 oda-label="patients.intervenant">patients.intervenant</h3>
    <div class="row">
        <div class="col-md-12" id="divTabContactsInter"><oda-loading></oda-loading></div>
        <div class="col-md-12" id="divNewContactInter" style="display: none;"></div>
        <div class="col-md-12" id="divBtContactInter">
            {{btContactInter}}
        </div>
    </div>

    <hr>
    <!--memos-->
    <h3 oda-label="patients.memos">patients.memos</h3>
    <div class="row">
        <div class="col-md-12" id="divTabMemos">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-12" id="divNewMemo" style="display: none;">
        </div>
        <div class="col-md-12" id="divBtDemo">
            <button type="button" oda-label="patients.newMemo" onclick="$.Oda.App.Controller.Patients.displayNewMemo();" class="btn btn-primary">newMemo</button>
        </div>
    </div>

    <hr>
    <!--adresse-->
    <h3 oda-label="patients.addresses">patients.addresses</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="tabAddress">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th oda-label="patients.addressTitle">title</th>
                        <th oda-label="patients.street">street</th>
                        <th oda-label="patients.city">city</th>
                        <th oda-label="patients.postCode">postCode</th>
                        <th oda-label="patients.default">default</th>
                        <th oda-label="patients.actions">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" oda-label="patients.newAddress" onclick="$.Oda.App.Controller.Patients.newAddress({id: {{id}} });" class="btn btn-primary">newAddress</button>
        </div>
    </div>
</script>

<script id="formNewAddress" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="addressTitle" oda-label="patients.addressTitle">patients.addressTitle</label>
                <input required type="text" class="form-control" oda-input-text="addressTitle" oda-input-text-tips="patients.addressTitle-tips" oda-input-text-placeholder="patients.addressTitle-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="street" oda-label="patients.street">patients.street</label>
                <input required type="text" class="form-control" oda-input-text="street" oda-input-text-tips="patients.street-tips" oda-input-text-placeholder="patients.street-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="city" oda-label="patients.city">patients.city</label>
                <input required type="text" class="form-control" oda-input-text="city" oda-input-text-tips="patients.city-tips" oda-input-text-placeholder="patients.city-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postCode" oda-label="patients.postCode">patients.postCode</label>
                <input required type="text" class="form-control" oda-input-text="postCode" oda-input-text-tips="patients.postCode-tips" oda-input-text-placeholder="patients.postCode-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="tlpRowTabAddress" type="text/template">
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{street}}</td>
        <td>{{city}}</td>
        <td>{{postCode}}</td>
        <td style="text-align: center">{{star}}</td>
        <td style="text-align: center">{{bookmark}} {{edit}} {{remove}}</td>
    </tr>
</script>

<script id="tlpNewMemo" type="text/template">
    <div class="form-group">
        <textarea class="form-control" rows="2" id="newMemo" maxlength="255"></textarea>
        <span class="downChar"><label id="downCount"></label> <label oda-label="patients.charRemaining"></label></span>
    </div>
</script>

<script id="tlpEditAddress" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="addressTitle" oda-label="patients.addressTitle">patients.addressTitle</label>
                <input value="{{code}}" required type="text" class="form-control" oda-input-text="addressTitle" oda-input-text-tips="patients.addressTitle-tips" oda-input-text-placeholder="patients.addressTitle-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="street" oda-label="patients.street">patients.street</label>
                <input value="{{adress}}" required type="text" class="form-control" oda-input-text="street" oda-input-text-tips="patients.street-tips" oda-input-text-placeholder="patients.street-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="city" oda-label="patients.city">patients.city</label>
                <input value="{{city}}" required type="text" class="form-control" oda-input-text="city" oda-input-text-tips="patients.city-tips" oda-input-text-placeholder="patients.city-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postCode" oda-label="patients.postCode">patients.postCode</label>
                <input value="{{code_postal}}" required type="text" class="form-control" oda-input-text="postCode" oda-input-text-tips="patients.postCode-tips" oda-input-text-placeholder="patients.postCode-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="tlpEditMemo" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" rows="2" id="editMemo" maxlength="255">{{content}}</textarea>
                <span class="downChar"><label id="downCount"></label> <label oda-label="patients.charRemaining"></label></span>
            </div>
        </div>
    </div>
</script>

<script id="tlpNewContact" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="newContactLabel" oda-label="patients.newContactLabel">patients.newContactLabel</label>
                <input required type="text" class="form-control" oda-input-text="newContactLabel" oda-input-text-tips="patients.newContactLabel-tips" oda-input-text-placeholder="patients.newContactLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newContactValue" oda-label="patients.newContactValue">patients.newContactValue</label>
                <input required type="text" class="form-control" oda-input-text="newContactValue" oda-input-text-tips="patients.newContactValue-tips" oda-input-text-placeholder="patients.newContactValue-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="tmBtNewContactFamily" type="text/template">
    <button type="button" oda-label="patients.newContactFamily" onclick="$.Oda.App.Controller.Patients.displayContactFamily();" class="btn btn-sm btn-primary">patients.newContactFamily</button>
</script>

<script id="tmBtNewContactFamilyOpen" type="text/template">
    <button type="button" oda-submit="btStubmitNewContact" oda-label="oda-main.bt-submit" onclick="$.Oda.App.Controller.Patients.submitNewContactFamily();" class="btn btn-primary disabled" disabled>oda-main.bt-submit</button> <button type="button" oda-label="oda-main.bt-cancel" onclick="$.Oda.App.Controller.Patients.cancelNewContactFamily();" class="btn btn-secondary">oda-main.bt-cancel</button>
</script>

<script id="tmBtNewContactInter" type="text/template">
    <button type="button" oda-label="patients.newContactInter" onclick="$.Oda.App.Controller.Patients.displayContactInter();" class="btn btn-sm btn-primary">patients.newContactFamily</button>
</script>

<script id="tmBtNewContactInterOpen" type="text/template">
    <button type="button" oda-submit="btStubmitNewContactInter" oda-label="oda-main.bt-submit" onclick="$.Oda.App.Controller.Patients.submitNewContactInter();" class="btn btn-primary disabled" disabled>oda-main.bt-submit</button> <button type="button" oda-label="oda-main.bt-cancel" onclick="$.Oda.App.Controller.Patients.cancelNewContactInter();" class="btn btn-secondary">oda-main.bt-cancel</button>
</script>

<script id="tlpNewContactInter" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="newContactInterLabel" oda-label="patients.newContactInterLabel">patients.newContactInterLabel</label>
                <input required type="text" class="form-control" oda-input-text="newContactInterLabel" oda-input-text-tips="patients.newContactInterLabel-tips" oda-input-text-placeholder="patients.newContactInterLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newContactInterValue" oda-label="patients.newContactInterValue">patients.newContactInterValue</label>
                <input required type="text" class="form-control" oda-input-text="newContactInterValue" oda-input-text-tips="patients.newContactInterValue-tips" oda-input-text-placeholder="patients.newContactInterValue-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script>
    $.Oda.App.Controller.Patients.start();
</script>