<div class="container">
    <h2 oda-label="patients.title"></h2>

    <div class="row">
        <div class="col-md-12" id="divPatients">
            <oda-loading></oda-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" oda-label="oda-main.new" onclick="$.Oda.App.Controller.Patients.newPatient();">oda-main.new</button>
        </div>
    </div>
</div>

<script id="formCreatePatient" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="firstName" oda-label="patients.firstName">patients.firstName</label>
                <input required type="text" class="form-control" oda-input-text="firstName" oda-input-text-tips="patients.firstName-tips" oda-input-text-placeholder="patients.firstName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="lastName" oda-label="patients.lastName">patients.lastName</label>
                <input required type="text" class="form-control" oda-input-text="lastName" oda-input-text-tips="patients.lastName-tips" oda-input-text-placeholder="patients.lastName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="formEditPatient" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="firstName" oda-label="patients.firstName">patients.firstName</label>
                <input value="{{firstName}}" required type="text" class="form-control" oda-input-text="firstName" oda-input-text-tips="patients.firstName-tips" oda-input-text-placeholder="patients.firstName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="lastName" oda-label="patients.lastName">patients.lastName</label>
                <input value="{{lastName}}" required type="text" class="form-control" oda-input-text="lastName" oda-input-text-tips="patients.lastName-tips" oda-input-text-placeholder="patients.lastName-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label oda-label="patients.active">patients.active</label>
                <div class="checkbox">
                    <input type="checkbox" oda-input-checkbox="active" {{checked}}>
                    <label oda-label="patients.active">
                        patients.active
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        </div>
    </div>
    <hr>
    <div class="row">
        <label oda-label="patients.memos">patients.memos</label>
        <div class="col-md-12" id="divTabMemos">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-12" id="divNewMemo" style="display: none;">
        </div>
        <div class="col-md-12" id="divBtDemo">
            <button type="button" oda-label="patients.newMemo" onclick="$.Oda.App.Controller.Patients.displayNewMemo();" class="btn btn-primary">newMemo</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <label oda-label="patients.addresses">patients.addresses</label>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="tabAddress">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th oda-label="patients.addressTitle">title</th>
                        <th oda-label="patients.street">street</th>
                        <th oda-label="patients.city">city</th>
                        <th oda-label="patients.postCode">postCode</th>
                        <th oda-label="patients.default">default</th>
                        <th oda-label="patients.actions">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" oda-label="patients.newAddress" onclick="$.Oda.App.Controller.Patients.newAddress({id: {{id}} });" class="btn btn-primary">newAddress</button>
        </div>
    </div>
</script>

<script id="formNewAddress" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="addressTitle" oda-label="patients.addressTitle">patients.addressTitle</label>
                <input required type="text" class="form-control" oda-input-text="addressTitle" oda-input-text-tips="patients.addressTitle-tips" oda-input-text-placeholder="patients.addressTitle-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="street" oda-label="patients.street">patients.street</label>
                <input required type="text" class="form-control" oda-input-text="street" oda-input-text-tips="patients.street-tips" oda-input-text-placeholder="patients.street-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="city" oda-label="patients.city">patients.city</label>
                <input required type="text" class="form-control" oda-input-text="city" oda-input-text-tips="patients.city-tips" oda-input-text-placeholder="patients.city-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postCode" oda-label="patients.postCode">patients.postCode</label>
                <input required type="text" class="form-control" oda-input-text="postCode" oda-input-text-tips="patients.postCode-tips" oda-input-text-placeholder="patients.postCode-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="tlpRowTabAddress" type="text/template">
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{street}}</td>
        <td>{{city}}</td>
        <td>{{postCode}}</td>
        <td style="text-align: center">{{star}}</td>
        <td style="text-align: center">{{bookmark}} {{edit}} {{remove}}</td>
    </tr>
</script>

<script id="tlpNewMemo" type="text/template">
    <div class="form-group">
        <textarea class="form-control" rows="2" id="newMemo" maxlength="255"></textarea>
        <span class="downChar"><label id="downCount"></label> <label oda-label="patients.charRemaining"></label></span>
    </div>
</script>

<script>
    $.Oda.App.Controller.Patients.start();
</script>