<div class="container">
    <h2 oda-label="synth_user_patient.title"></h2>

    <div class="row">
        <div class="col-md-6">
            <label for="patientId" oda-label="synth_user_patient.patientId">synth_user_patient.patientId</label>
            <select class="form-control" oda-input-select="patientId" required>
                <option value="" oda-label="oda-main.select-default"></option>
                {{patientIds}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="begin" oda-label="synth_user_patient.begin">synth_user_patient.begin</label>
            <div class="form-group">
                <input type="date" class="form-control" oda-input-text="begin" oda-input-text-tips="synth_user_patient.begin-tips" oda-input-text-placeholder="synth_user_patient.begin-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-6">
            <label for="end" oda-label="synth_user_patient.end">synth_user_patient.end</label>
            <div class="form-group">
                <input type="date" class="form-control" oda-input-text="end" oda-input-text-tips="synth_user_patient.end-tips" oda-input-text-placeholder="synth_user_patient.end-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="report">
        </div>
    </div>
</div>

<script id="tlpSynth" type="text/template">
        <p style="text-align: center;font-weight: bold;font-size: large;" oda-label="synth_user_patient.title"></p>

        <p>Semaine du <span style="font-weight: bold">{{start}}</span> au <span style="font-weight: bold">{{end}}</span></p>

        <p>Patient <span style="font-weight: bold">{{patient}}</span> prise en charge par <span style="font-weight: bold">{{user}}</span></p>

        <table class="table table-bordered" id="tabSynth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Durée</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Action</th>
                    <th>Type</th>
                    <th>Commentaires</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        Temps total : {{time}}

        <p style="font-weight: bold;text-align: center">Pour vous !</p>

        <p style="text-align: center;font-size: 10px;">Aurore services 46 rue Léon jouhaux 38100 Grenoble - Aurore.Mondesir@gmail.com</p>
</script>

<script>
    $.Oda.App.Controller.SynthUserPatient.start();
</script>